body {
  font-family: 'Space Mono', monospace;
  line-height: 1.6;
  background: #333333;
  color: #FF5733;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.entries-container{
  max-width: 300px;
  flex:1;
  padding: 10px;
  box-sizing: border-box;
  background: #333333;
  border-radius: 5px;
  margin-right: 5px;
  overflow: hidden;
}

.entries-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #FF5733;
}

.entry {
  max-height: fit-content;
  background: #555555;
  color: #FFFFFF;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entry:hover {
  background: #777777;
}

.entry-title {
  margin-bottom: 5px;
  font-size: 20px;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  position: relative; 
}

.entry-reminder {
  font-weight: bold;
  margin-bottom: 5px;
  color: #FF5733;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.entry-text-title {
  width: calc(90% - 2em);
  margin: 1em auto;
  padding: 1em;
  border-radius: 10px;
  border: unset;
  background-color: rgb(241, 241, 177);
  outline-color: #FF5733;
  font-size: 1rem;
  color: #FF5733;
}

.entry-text-box {
  width: calc(100% - 2em);
  height: 30em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: lightgoldenrodyellow;
  outline-color: #FF5733;
  font-size: 1rem;
  
}

.form-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  max-width:fit-content;
  background: #4d4a4a;
  border-radius: 5px;
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.form-section div {
  width: calc(33.33% - 1em);
}

.entry-submit-btn {
  background-color: #333333;
  color: #FF5733;
  display: inline-block;
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.entry-submit-btn:hover {
  background-color: #FF5733;
  color: #333333;
  transform: scale(1.05);
}

.crud-buttons a {
margin-right: 1em;
background-color: #333333;
color: #FF5733;
border: none;
border-radius: 2px;
padding: 0.3rem 0.8rem;
cursor: pointer;
transition: all 0.3s ease;
text-decoration: none;
}

.crud-buttons a:hover {
background-color: #FF5733;
color: #333333;
transform: scale(1.05);
}
.sort-links {
  margin-bottom: 5px;
      }

.sort-links a {
  display: inline-block;
  margin-right: 1px;
  color: #ffffff;
  text-decoration: none;
  
  border: 1px solid #333333;
  border-radius: 5px;
}

.sort-links a:hover,
.sort-links a.active {
  background-color: #333333;
  color: #e7410e;
  text-decoration: underline;
}

@keyframes flicker {
  0% { color: red; }
  50% { color: blue; }
  100% { color: red; }
}

.flicker-text {
  animation: flicker 1s infinite; 
  font-weight: bold;
  font-size: 18px; 
}


.navigation {
  position:absolute;
  top: 0;
  right: 0;
  padding: 15px;
  box-sizing: border-box;
  background-color: #333333;
  border-radius: 100px;
}

.navigation img {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
}

.navigation a {
  color: #535252;
  text-decoration: none;
  font-weight: bold;
}

.suggestions-container {
  width: 300px;
  max-width: 500px;
  background: #e7e5e5;
  padding: 20px;
  border-radius: 5px;
  color:#020202;
  overflow-y: auto; 
  max-height: fit-content;
}

.suggestion {
  margin-bottom: 5px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.correction {
  color: rgb(2, 2, 2);
}

.error-location {
  background-color: rgba(252, 252, 70, 0.712);
  padding: 2px;
  border-radius: 2px;
}