{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/addtask.css' %}">
</head>

<body>
    <header>
        <h1>Add Task</h1>
        <a href="{% url 'task_list' %}" class="profile-button">Task Entries</a>
    </header>
    <div class="navigation">
        <a href="/profile">
            <img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png" alt="Profile Image">
        </a>
    </div>

    

    <section>
        <form method="POST" action="{% url 'add_task' %}">
            {% csrf_token %}
    
            <label for="title">Title:</label>
            <input type="text" name="title" class="medium-input" required>
    
            <label for="description">Description:</label>
            <textarea name="description" class="large-input" required></textarea>
    
            <label for="due_date">Due Date:</label>
            <input type="date" name="due_date" class="small-input" required>
            
            <label for="category">Category:</label>
            <select class="small-input" name="category" id="category">
                <option value="work">Work</option>
                <option value="personal">Personal</option>
                <option value="school">School</option>
            </select>
            <br><button type="submit">Add Task</button>
        </form>
    </section>

</html>
