
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProDigi - Entry Form</title>
    <script>const csrf_token = "{{ csrf_token }}";</script>
    <script src="{% static 'blog/js/diaryentry.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/diaryentry.css' %}">
</head>

<body>
    <div class="navigation">
        <a href="/profile">
            <img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png" alt="Profile Image">
        </a>
    </div>
    
  
    

    <div class="entries-container" id="entries-container">
        <div class="sort-links">
            Sort by:
            <a href="?sort=date">Date</a>
            <a href="?sort=title">Title</a>
        </div>
        <div class="entries-title">Saved Entries</div>
        {% for entry in entries %} 
        {% if entry.user == request.user %}
   
        <div class="entry" data-entry-id="{{ entry.id }}">
            <div class="entry-title">{{ entry.title }}</div>
            <div class="entry-reminder">{{ entry.date }}</div>
            <!-- {% if entry.reminder_date and entry.reminder_time %}
            <div class="entry-reminder"><span class="flicker-text">REMINDER:</span><br> {{ entry.reminder_date }} {{ entry.reminder_time }}</div>
            {% endif %} -->

            <!-- for editing -->
            <form method="GET" action="{% url 'edit_entry' entry.id %}" style="display: inline;">
                <input type="hidden" name="entry_id" value="{{ entry.id }}">
                <button type="submit" class="entry-submit-btn">Edit</button>
            </form>

            <!-- for deleting -->
            <form method="POST" action="{% url 'delete_entry' entry.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="entry-submit-btn" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</button>
            </form>

            <input type="hidden" id="edit-entry-id" value="{{ entry.id }}">
        </div>
        {% endif %}
        {% endfor %}
    </div>

   



    <div class="form-container">
        <form id="entryForm" method="POST" action="{% url 'diary_entries' %}">
            {% csrf_token %}
          
            <div class="form-section">
                <div>
                    <label for="mood" class="journal-label" >Mood:</label>
                    <input type="text" id="mood" name="mood" class="entry-text-title" required value="{{entry.mood}}">
                </div>
                <div>
                    <label for="date" class="journal-label">Date:</label>
                    <input type="date" id="date" name="date" class="entry-text-title" required value="{{ entry.date|date:'Y-m-d' }}">
                </div>
                <div>
                    <label for="time" class="journal-label">Time:</label>
                    <input type="time" id="time" name="time" class="entry-text-title" required value="{{ entry.time|date:'H:i' }}">
                </div>

                <div>
                    <!-- <label for="reminder_date" class="journal-label">Reminder Date:</label>
                    <input type="date" id="reminder_date" name="reminder_date" class="entry-text-title" value="{{ entry.reminder_date|default:'' }}"> -->
                </div>
                <div>
                    <!-- <label for="reminder_time" class="journal-label">Reminder Time:</label>
                    <input type="time" id="reminder_time" name="reminder_time" class="entry-text-title" value="{{ entry.reminder_time|default:'' }}"> -->
                </div>
                
            </div>
           
            <label for="title" class="journal-label">Title:</label>
            <input type="text"  name="title" class="entry-text-title" required value>
            <label for="content" class="journal-label">Content:</label>
            <textarea id="thetextarea" name="content" class="entry-text-box" required></textarea>

            <button type="submit" class="entry-submit-btn" >Save Entry</button>

            <button id="checkTextButton" class="entry-submit-btn check-text-btn">Check Text</button>
        </form>
    </div>

    <form id="applySuggestionsForm" action="{% url 'apply_suggestions' %}" method="post">
        {% csrf_token %}
    <div class="suggestions-container" >
        <h2>Suggestions</h2>
        <h6>(Powered by Language Tool)</h6>

        <div class="suggestion-container" id="suggestionsList" ></div>

        <button type="button" class="entry-submit-btn apply-suggestions-btn">Apply Suggestions</button>
        <button type="button" class="entry-submit-btn ignore-suggestions-btn">Ignore Suggestions</button>
    </div>
    </form>
</body>

</html>
