{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProDigi - Edit Entry</title>
  <script src="{% static 'blog/js/editdiaryentry.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/editdiaryentry.css' %}">
 </head>


<body>


  <div class="navigation">
    <a href="/profile">
        <img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png" alt="Profile Image">
    </a>
</div>

  <div class="container">
    <form method="post" class="edit-form" id="entryForm">
      {% csrf_token %}
      <div class="input-container">
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
        <button id="checkTextButton">Check Text</button>
      </div>
    </form>


    <div class="suggestions-container">
      <h2>Suggestions</h2>
      <h6>(Powered by Language Tool)</h6>
      <div id="suggestionsList"></div>
      <button type="button">Apply Suggestions</button>
      <button type="button">Ignore Suggestions</button>
    </div>


  </div>

</body>


</html>
