{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProDigi - Login/Signup</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/home.css' %}">
</head>
<body>
  <div class="container">
    <h2>Welcome to ProDigi</h2>
    <a href="{% url 'login'%}" class="cta-button">Log In</a>
    <a href="{% url 'signup'%}" class="cta-button">Sign Up</a>
    <div class="project-details">
      <h3>About ProDigi</h3>
      <p>
        ProDigi is your modern and practical way to record your thoughts and experiences. It allows you to create a digital journal where you can jot down your daily musings, capture memorable moments, and preserve important life events. With ProDigi, your memories are just a click away.
      </p>
    </div>
  </div>
</body>
</html>

