{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProDigi - Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/login.css' %}">
</head>
<body>
  <header class="header">
    <h1>ProDigi</h1>
    <p>Your Digital Journaling Companion</p>
  </header>
  <div class="container">
    <div class="right-side">
      
    </div>
    <div class="login-box">
      <h2 class="login-heading">Login</h2>

      <form action="" method="POST">
        {% csrf_token %}
        <input type="text" class="input-field" placeholder=" Username" name="username" id="username" required>
        <input type="password" class="input-field" placeholder=" Password" name="password" id="password" required>
        {% if message %}
        <div class="error-message">{{ message }}</div>
        {% endif %}  
        <a href="{% url 'signup'%}" class="create-account-link">Create an Account</a><br>
        <button type="submit" class="login-button">Login</button>
      </form>
  
    </div>
  </div>
  <footer class="footer">
    <p>&copy; 2024 ProDigi. All rights reserved.</p>
  </footer>

  <script>

  </script>

</body>


</html>
