{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digi Diary - Profile</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/profile.css' %}">
</head>
<body>
  <header class="header">
    <h1>ProDigi</h1>
    <p>Your Digital Journaling Companion</p>
  </header>
  <div class="container">
    <div class="profile-box">
      <h1 class="profile-heading">Profile</h1>
      <div class="profile-info">
        <p class="welcome-message">Welcome <span class="color-changing-text">{{ username }}</span> </p>
        
        <div class="count-info">
          <div>
              <span class="color-changing-text">{{ diary_entry_count }}</span>
              <span>Diary Entries</span>
          </div>
          <div>
              <span class="color-changing-text">{{ task_count }}</span>
              <span>Task Entries</span>
          </div>
      </div>
        
          <a href="{% url 'diary_entries' %}" class="profile-button">Diary Entries</a>
          <a href="{% url 'task_list' %}" class="profile-button">Task Entries</a>
          <!-- Add more navigation links if needed -->
      </div>
      <a href="{% url 'logout' %}" class="profile-button" style="background-color: #333;">Logout</a>
    </div>
  </div>




  <!-- <textarea id="myTextarea">
   
    </textarea>
    
    <button id="myButton">
    Change
    </button> -->

  <footer class="footer">
    <p>&copy; 2023 Digi Diary. All rights reserved.</p>
  </footer>



  <script>
 document.getElementById("myButton").addEventListener("click", function() { document.getElementById("myTextarea").value = "Mama mia you ain't changing anything";
});
  </script>
  
</body>
</html>
