{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProDigi - Sign Up</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/signup.css' %}">
</head>
<body>
  <header class="header">
    <h1>ProDigi</h1>
    <p>Your Digital Journaling Companion</p>
  </header>
  <div class="container">
    <div class="signup-box">
      <h2 class="signup-heading">Sign Up</h2>

      
      <form action="" method="POST">
        {% csrf_token %}
        <input type="text" class="input-field" placeholder=" Username" name="username" id="username" required>
        <input type="password" class="input-field" placeholder=" Password" name="password" id="password" required><br>
        <span id="password-message" style="display:none;color:red;"></span><br>
        {% if message %}
        <div class="error-message">{{ message }}</div>
        {% endif %}  
        <button type="submit" class="signup-button">Sign Up</button>
      </form>
      
      <div class="login-button">
        <span>Already have an account?</span>
      <a href="{% url 'login'%}" style="color: #FF5733;" >Login</a>
      </div>
      


    </div>
  </div>
  <footer class="footer">
    <p>&copy; 2024 ProDigi. All rights reserved.</p>
  </footer>

  <script>

  </script>

</body>
</html>
