{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
    <script src="{% static 'blog/js/taskdetail.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/taskdetail.css' %}">
</head>

<body>
    <header>
        <h1>Task Detail</h1>
        <a href="{% url 'task_list' %}" class="profile-button">Task Entries</a>
    </header>

    <div class="navigation">
        <a href="/profile">
            <img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png" alt="Profile Image">
        </a>
    </div>

    <section>
        {% if editing %}
            <!-- Form for editing task -->
            <form method="post" action="{% url 'task_detail' task.id %}?editing=true" class="edit-form">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit">Save Changes</button>
            </form>
        {% else %}



            <h2>{{ task.title }}</h2>
            <div class="description-container">
                <p>{{ task.description }}</p>
            </div>
            <p>Due Date: <span class="due-date">{{ task.due_date }}</span></p>
            <p class="status">Status: {% if task.completed %}Completed{% else %}Pending{% endif %}</p>
            <p>Category: {{ task.category }}</p>


            <form method="post" action="{% url 'complete_task' task.id %}">
                {% csrf_token %}
                <button type="submit" class="complete" {% if task.completed %}disabled{% endif %}>
                    Mark Complete
                </button>
            </form>

            <form method="post" action="{% url 'delete_task' task.id %}">
                {% csrf_token %}
                <button type="submit" class="delete">
                    Delete Task
                </button>
            </form>

            <button onclick="startEditing()">Edit Task</button>
            <input type="hidden" id="task-id" value="{{ task.id }}">

        {% endif %}
    </section>

</body>

</html>
