{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/tasklist.css' %}">
</head>

<body>
    <div style="background-color: rgb(146, 142, 142);">
    <header>
        <h1>Task List</h1>
    </header>

    <div class="navigation">
        <a href="/profile">
            <img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png" alt="Profile Image" >
        </a>
    </div>

   
    <div class="button-group">
        <a href="{% url 'add_task' %}">Add Task</a>
        <a href="?sort=completed">Sort Completed</a>
        <a href="?sort=pending">Sort Pending</a>
        <a href="?sort=" class="active">View All</a>

        <form method="get" action="{% url 'task_list' %}" class="category-filter-form">
            <label for="category">Filter by Category:</label>
            <select name="category" id="category">
                <option value="" {% if not category_filter %}selected{% endif %}>All</option>
                <option value="work" {% if category_filter == 'work' %}selected{% endif %}>Work</option>
                <option value="personal" {% if category_filter == 'personal' %}selected{% endif %}>Personal</option>
                <option value="school" {% if category_filter == 'school' %}selected{% endif %}>School</option>
            </select>
            <button type="submit">Apply Filter</button>
        </form>

    </div>

    <form method="GET" action="{% url 'task_list' %}">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>

    </form>

   

</div>
    <ul>
        {% for task in tasks %}
        {% if task.user == request.user %}
        <a href="{% url 'task_detail' task.id %}">
            <li style="background-color: {% if task.completed %}#4CAF50{% else %}#FF5733{% endif %};">
                {{ task.title }}
            </li>
        </a>
        {% endif %}
        {% endfor %}
    </ul>
    
</body>

</html>
